<!DOCTYPE html>
<html ng-app="calories">
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  	<script src="js/app.js"></script>
  	
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
	<title>Calories counter</title>
</head>
<body ng-controller="CaloriesController as calories">

	<div class="container">
		<div class="jumbotron">
		  <h1>Calories Counter</h1>
		  <p>This application will help you to control your calories consume per day.</p>
		  <p>Hi, {{calories.loggedUser.name}}.</p>
		</div>
	
	  	<section class="tab" ng-controller="SectionController as section">
	  		<ul class="nav nav-pills">
		  		<li ng-class="{active:section.isSelected(1)}"> <a href ng-click="section.setTab(1)">Meals</a> </li>
		  		<li ng-class="{active:section.isSelected(2)}"> <a href ng-click="section.setTab(2)">Settings</a> </li>
	  		</ul>
	  		<div class="panel" ng-show="section.isSelected(1)" ng-controller="EditMealController as editMeal">
	  			<div><!--  ng-hide="editMeal.editMode"> -->
		  			<table class="table">
			            <thead>
			              <tr>
			                <th>Date</th>
			                <th>Time</th>
			                <th>Description</th>
			                <th>Calories</th>
			              </tr>
			            </thead>
			            <tbody>
			              <tr ng-repeat="meal in calories.loggedUser.meals">
			                <td>{{meal.date| date:'mediumDate'}}</td>
			                <td>{{meal.date| date:'shortTime'}}</td>
			                <td>{{meal.text}}</td>
			                <td>{{meal.calories}}</td>
			                <td>
			                	<a href><span style="font-size:1.5em;" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
			                	<a href ng-click="editMeal.removeMeal(meal)"><span style="font-size:1.5em;" class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></a>
			                </td>
			              </tr>
			              <tr ng-show="editMeal.editMode">
			              	<td><fieldset class="form-group">
		  						<input type="date" class="form-control" required/>
		  					</fieldset></td>
		  					<td><fieldset class="form-group">
		  						<input type="time" class="form-control" required/>
		  					</fieldset></td>
		  					<td><fieldset class="form-group">
		  						<input type="text" class="form-control" required/>
		  					</fieldset></td>
		  					<td><fieldset class="form-group">
		  						<input type="number" class="form-control" required/>
		  					</fieldset></td>
		  					<td>
		  						<a href><span style="font-size:1.5em;" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></a>
		  						<a href ng-click="editMeal.setEditMode(false)"><span style="font-size:1.5em;" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
		  					</td>
			              </tr>
			            </tbody>
			         </table>
			  		<div align="right" class="padding: 1.0" ng-hide="editMeal.editMode">
			  			<a href ng-click="editMeal.setEditMode(true)"><span style="font-size:1.5em;" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
			  		</div>
		  		</div>
		  	</div>	
	  		<div class="panel" ng-show="section.isSelected(2)">
	  			<blockquote>Settings</blockquote>
	  		</div>	  		
	  	</section>
	  	
	</div>

</body>
</html>