<div class="panel" ng-controller='MealsCtrl as editMeal'>
	<div><form name="formMeal" ng-submit="editMeal.save()">
		<table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Description</th>
              <th>Calories</th>
            </tr>
          </thead>
          <tbody>
            
            <tr ng-repeat="meal in calories.loggedUser.meals">
              <td>{{meal.date| date:'mediumDate'}}</td>
              <td>{{meal.date| date:'shortTime'}}</td>
              <td>{{meal.description}}</td>
              <td>{{meal.calories}}</td>
              <td>
              	<a href ng-click="editMeal.updateMeal()"><span style="font-size:1.5em;" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
             	<a href ng-click="editMeal.removeMeal(meal)"><span style="font-size:1.5em;" class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></a>
             </td>
           </tr>
           
           <tr ng-show="editMeal.editMode">
           	<td><fieldset class="form-group">
				<input type="date" class="form-control" ng-model="editMeal.editedMeal.date" required/>
			</fieldset></td>
			<td><fieldset class="form-group">
				<input type="time" class="form-control" ng-model="editMeal.editedMeal.date" required/>
			</fieldset></td>
			<td><fieldset class="form-group">
				<input type="text" class="form-control" ng-model="editMeal.editedMeal.description" placeholder="description" required/>
			</fieldset></td>
			<td><fieldset class="form-group">
				<input type="number" class="form-control" ng-model="editMeal.editedMeal.calories" placeholder="calories" required/>
			</fieldset></td>
			<td>
				<a href ng-click="editMeal.addMeal()"><span style="font-size:1.5em;" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></a>
				<a href ng-click="editMeal.setEditMode(false)"><span style="font-size:1.5em;" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
			</td>
           </tr>
         </tbody>
      </table>
      <div ng-messages="editMeal.$messages" ng-messages-include="messages.html"></div>
    </form>
	<div align="right" class="padding: 1.0" ng-hide="editMeal.editMode">
		<a href ng-click="editMeal.setEditMode(true)"><span style="font-size:1.5em;" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
		</div>
	</div>
</div>	
